body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 35px;
}

.debug .row:hover {
    background-color: #485563;
}

.notification-container .alert:first-child {
    margin-top: 60px;
}

.table tbody td {
    vertical-align: middle !important;
}

.modal-variable { font-weight: bold; }

.password { font-size: x-large; }
